---
layout: homepage
---

<div class="bodycontainer">
  {% include home_icon.html subject="audio" icon="icon-volume-up" text="Audio" %}
  {% include home_icon.html subject="web" icon="icon-globe" text="Web Development" %}
  {% include home_icon.html subject="game" icon="icon-gamepad" text="Game Development" %}
  {% include home_icon.html subject="physics" icon="icon-magnet" text="Physics Modeling" %}
  {% include home_icon.html subject="music" icon="icon-music" text="Music" %}
  {% include home_icon.html subject="about" icon="icon-male" text="About" %}
</div>
