$small-space: 1rem;

$title-font: "Oxygen", Arial, sans-serif;

$tablet: new-breakpoint(min-width 600px);
$desktop: new-breakpoint(min-width 800px);

$tablet-up: new-breakpoint(min-width 600px);
$desktop-up: new-breakpoint(min-width 800px);

$tablet-down: new-breakpoint(max-width 600px);
$desktop-down: new-breakpoint(max-width 800px);

$tablet-to-desktop: new-breakpoint(min-width 600px max-width 800px);

$light-grey: #f3f3f3;

body {
  background: black;
}
