<div class="topbarcontainer">
  <a class="topbar" href="cat-audio.php"><div id="homebutton" class="topbar boxsize">Audio</div></a>
  <a class="topbar" href="cat-webdev.php"><div id="framesbutton" class="topbar boxsize">Web</div></a>
  <a class="topbar" href="cat-gamedev.php"><div id="colorsbutton" class="topbar boxsize">Game</div></a>
  <a class="topbar" href="cat-physics.php"><div id="soundsbutton" class="topbar boxsize">Physics</div></a>
  <a class="topbar" href="cat-music.php"><div id="soundsbutton" class="topbar boxsize">Music</div></a>
  <a class="topbar" href="cat-about.php"><div id="scriptsbutton" class="topbar boxsize">About</div></a>
</div>
