<div class="topbarcontainer">
  <a class="topbar" href="/audio"><div id="homebutton" class="topbar boxsize">Audio</div></a>
  <a class="topbar" href="/web"><div id="framesbutton" class="topbar boxsize">Web</div></a>
  <a class="topbar" href="/game"><div id="colorsbutton" class="topbar boxsize">Game</div></a>
  <a class="topbar" href="/physics"><div id="soundsbutton" class="topbar boxsize">Physics</div></a>
  <a class="topbar" href="/music"><div id="soundsbutton" class="topbar boxsize">Music</div></a>
  <a class="topbar" href="/about"><div id="scriptsbutton" class="topbar boxsize">About</div></a>
</div>
