/* ======================================= */
/*				style.css				   */
/* ======================================= */
div#menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
div#menu h2 {
  margin: 0;
  padding-left: 24px;
  padding-top: 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #6688bb;
}
div#menu ul#menulist {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #eaeaea;
  box-shadow: 1px 1px 1px #ccc;
}
div#menu ul#menulist li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  text-align: left;
  width: 120px;
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #6688bb;
  border-bottom: 1px solid #d5d5d5;
  transition: color 0.3s, background 0.3s;
  -webkit-transition: color 0.3s, background 0.3s;
}
div#menu ul#menulist li:hover {
  color: #7799dd;
  background: #f5f5f5;
}
div#menu ul#menulist a {
  text-decoration: none;
  color: #6688bb;
}
p.desc {
  width: 100%;
  padding: 0;
  padding-top: 0;
  padding-bottom: 24px;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  text-align: justify;
  font-size: 20px;
  color: #444444;
}
.button1 {
  float: left;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #999999;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
}
.button1:active {
  background-color: #777777;
}
div.narrow {
  clear: both;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
div#physicswrapper {
  margin-bottom: 96px;
}
div#physicswrapper div#canvaswrapper #mainCanvas {
  width: 600px;
  height: 400px;
  background-color: #e5e5e5;
  border: 1px solid #6688bb;
}
div#physicswrapper div#parameterswrapper {
  height: 0px;
  width: 570px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #6688bb;
  border-right: 1px solid #6688bb;
  transition: height 0.3s ease-out;
  -webkit-transition: height 0.3s ease-out;
}
div#physicswrapper div#parameterswrapper div.parameter {
  height: 150px;
  margin-top: 10px;
  float: left;
  margin-right: 35px;
}
div#physicswrapper div#parameterswrapper div.parameter div.parameterheading {
  font-family: "Oxygen", sans-serif;
  color: #6688bb;
}
div#physicswrapper div#parameterswrapper div.parameter div.parametercontent form {
  font-family: 'Oxygen', sans-serif;
  color: #333;
}
div#physicswrapper div#parameterswrapper div.parameter div.parametercontent input.numinput {
  width: 50px;
  height: 30px;
  text-align: center;
  color: #333;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}
div#physicswrapper div#parameterswrapper div#updateparameterswrapper {
  margin-right: 0;
  float: right;
}
